<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        stopOnFailure="false"
        >

    <testsuites>
        <testsuite name="Seo">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <!-- Prevent coverage reports from looking in tests and vendors -->
        <blacklist>
            <directory suffix=".php">./vendor/</directory>
            <directory suffix=".ctp">./vendor/</directory>

            <directory suffix=".php">./tests/</directory>
            <directory suffix=".ctp">./tests/</directory>
        </blacklist>

        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>